.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#container {
  display: grid
}

#image-container {
  display: inline-block;
}

#top {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 100;
}

#titles {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 100;
  text-align: center;
  cursor: pointer;
  color: black;
  background-color: white;
}

#titles:hover {
  color: blue;
}

#images {
  border-radius: 35px;
  margin: 20px;
  cursor: pointer;
}

#search-title {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-weight: 100;
  margin-bottom: 0px;
}

.searchbar {
  text-align: center;
  padding-top: -10px;
}

#search {
  font-family: 'Courier New', Courier, monospace;
}

#image-field {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
}